/* Move down content because we have a fixed navbar that is 50px tall */

.error{
	border: 1px solid red;
}
.done{
	border: 1px solid green;
}
.artists{
	text-align: center;
}
.artwork{
	width: 200px;
}
.flex-container{
	display: inline;
}
.left{
	float: left;
	width: 50px;
}
.right{
	float: right;
	width: 50px;
}