
.jumbotron {
    background-color: #DAE1E7;
}

.error {
    border: 1px solid red;
}

.done {
    border: 1px solid green;
}
/*
.flex-container {
    display: inline;
}

.left {
    float: left;
    width: 50px;
}

.right {
    float: right;
    width: 50px;
}*/